@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$color-white: #F8F9FA;
$color-black: #444;
$color-blue:  #2483C4;
$color-yellow: #E9CC3F;

@mixin colorBackgroundWhite {
  background-color: $color-white;
}
@mixin colorBackgroundBlack {
  background-color: $color-black;
}
@mixin colorBackgroundBlue {
  background-color: $color-blue;
}
@mixin colorBackgroundYellow {
  background-color: $color-yellow;
}

@mixin colorWhite {
  color: $color-white;
}
@mixin colorBlack {
  color: $color-black;
}
@mixin colorBlue {
  color: $color-blue;
}
@mixin colorYellow {
  color: $color-yellow;
}


html {
  scroll-behavior: smooth;
}

body{
  position: relative;
  max-width: 1440px;
  background-color: $color-white;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: $color-black;
}

.scroll-section {
  opacity: 0;
  transform: translateX(0);
  transition: all 1s ease-out;
}

.scroll-section.left {
  transform: translateX(-100px);
}

.scroll-section.right {
  transform: translateX(100px);
}

.scroll-section.show {
  opacity: 1;
  transform: translateX(0);
}

header{
  .logo1{
  width: 136.789px;
  height: 113px;
  flex-shrink: 0;
  aspect-ratio: 136.79/113.00;
  position: absolute;
  top: 13px;
  left: 11px;
  z-index: 10;
  }


.nav{
  width: 600px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(93deg, #DDECF7 47.74%, #E9CC3F 205.21%);
  margin: 11px 11px 11px auto;
  
  
  .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }
  li {
    position: relative;
    padding: 4px 8px;
    cursor: pointer;
    a:hover{
      color: rgb(26, 26, 26);
      font-weight: 600;;
    }
  }

  .h1Logo{
    font-size: clamp(39px, 8vw, 80px);
    line-height: 140%;
  }

.line{
  width: 10
  }
} 
}

.lang-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.lang-btn:hover {
  background-color: #f0f0f0;
}

  .h1Logo{
    font-size: clamp(39px, 8vw, 80px);
    line-height: 140%;
  }

.line{
  width: 100%;
  height: 1px;
  background-color: $color-yellow;
}

.LogoDiv{
  position: relative;
  // height: 90vh;
  background-image: url('Img/fonsLogo.jpg');
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */

  .textLogo {
    color: $color-white;
    padding: 150px 5%;
    width: auto;



    .sloganLogo {
      font-size: clamp(44px, 8vw, 12px);
      font-style: italic;
      font-weight: 200;
      line-height: 72px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.945);

    }
    
    .h1 {
      font-size: 80px;
      font-weight: 600;
      line-height: 93px; /* 115.904% */
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.945);
      width: auto;
    }
    
    .righrLogo{
      text-transform: uppercase;
    }
    
    .btn {
      display: flex;
      width: 275px;
      padding: 18px 18px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      @include colorBackgroundBlue;
      border-radius: 22px;
      font-size: 22px;
      margin-top: 68px;
      margin-bottom: 50px;
      transition: transform 0.5s ease;
      text-transform: uppercase;
      letter-spacing: 4.5px; // или больше — например, 2px для выразительности
    }
    .btn:hover {
      transform: scale(1.1); /* увеличивает на 10% */
      transition: transform 0.3s ease;
    }
    
  }
  
  .apanotationTextLogo {
    color: $color-white;
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: clamp(12px, calc(12px + 0.3125vw), 16px);

    font-style: italic;
    font-weight: 400;
    line-height: 172%; /* 27.52px */
    text-align: right;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.945);
  }
  
}

@keyframes cinematicIntro {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(1.05);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.hero-animate1,
.hero-animate2,
.hero-animate3,
.hero-animate4 {
  opacity: 0;
  animation: cinematicIntro 1s ease-out forwards;
}

.hero-animate1 {
  .hero-animate2 {
    animation-delay: 0s;
  }
  animation-delay: 2.0s;
}
.hero-animate3 {
  animation-delay: 1s;
}
.hero-animate4 {
  animation-delay: 3.0s;
}


////////////////////////Розділ Про фонд

main{
  position: relative;
}

.about {
  margin-top: 170px;
}

.logoAbout{
  position: absolute;
  top: -135px;
  right: 0px;
  z-index: -1;
  width: auto;
}

.aboutProFond {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 50px;
  text-decoration: underline;
  text-decoration-color: $color-blue;
  text-decoration-thickness: 2px;
  z-index: 1;
}

.blocks {
  width: 952px;
  height: 432px;
  margin-top: 19px;
  margin-left: 409px;
  display: flex;
}

.blocksVertical {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.block1 {
width: 296px;
height: 200px;
padding: 16px 32px;
flex-shrink: 0;
border-radius: 0px 20px 20px 20px;
background: white;
/* Супер тень */
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.20), 4px -4px 8px 0px rgba(178, 178, 178, 0.20), -4px -4px 8px 0px rgba(255, 255, 255, 0.90), 4px 4px 10px 0px rgba(178, 178, 178, 0.90);

}
.iconsAbout {
margin-top: 22px;
width: 40px;
}
.werticalIcons{
  width: 31px;
}

.textAbout {
  align-self: stretch;
font-size: 20px;
font-weight: 300;
line-height: 113.558%;
margin-top: 15px;
}

.f400{
font-weight: 400;
}


.block2 {
  margin-top: 30px;
  width: 296px;
  height: 200px;
  padding: 16px 32px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: white;
  /* Супер тень */
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.20), 4px -4px 8px 0px rgba(178, 178, 178, 0.20), -4px -4px 8px 0px rgba(255, 255, 255, 0.90), 4px 4px 10px 0px rgba(178, 178, 178, 0.90);

}

.blocksHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block3 {
  width: 297px;
  height: 385px;
  padding: 16px 32px;
  flex-shrink: 0;
  border-radius: 20px;
background: white;
margin-left: 30px;

/* Супер тень */
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.20), 4px -4px 8px 0px rgba(178, 178, 178, 0.20), -4px -4px 8px 0px rgba(255, 255, 255, 0.90), 4px 4px 10px 0px rgba(178, 178, 178, 0.90);
}

.block4 {
  // display: flex;
  width: 297px;
  height: 385px;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
background: white;
margin-left: 30px;

/* Супер тень */
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.20), 4px -4px 8px 0px rgba(178, 178, 178, 0.20), -4px -4px 8px 0px rgba(255, 255, 255, 0.90), 4px 4px 10px 0px rgba(178, 178, 178, 0.90);
}



/////////////////////////Розділ Ми вже допомогли
.statistic {
  width: 100%;
  padding: 20px 0;
  // min-height: 380px;
  margin-top: 248px;
  background-color: $color-blue;
  color: $color-white;
}

.statistOll {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.krilo{
  margin-top: 20px;
}

.off{
  display: none;
}

.statisth3 {
  // margin-left: 100px;
  margin-right: 30px;
  font-size: 33px;
  font-weight: 300;
}
.f500{
  font-weight: 500;
}

.numbrs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  gap: 5%;
  position: relative;
}

.number1 {
  flex-direction: column;
  justify-content: center;
}

.number {
  font-size: 40px;
  font-weight: 400;
  text-align: center;

}

.textNumber {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

////////////////////////////Розділ Наша місія
.mision {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  
}

.blockMision1 {
  width: 510px;
  height: 277px;
  display: flex;
  gap: 30px;
  // margin-left: 100px;
  
}

.text1Mision1 {
width: 296px;
font-size: 16px;
font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.img1Mision {
  // width: 100%;
  height: 100%;
}

.blockMision2 {
  margin-left: 30px;
  // width: 592px;
  display: flex;
  
  
}

.text1Mision2 {
  width: 184px;
  margin-right: 30px;
  margin-top: 120px;
  font-size: 16px;
font-weight: 300;
  
}

.img1Mision2 {
  width: 376px;
}

.gasloMision {
  position: absolute;
  top: 352px;
  left: 302px;
}

.gasloMision1 {
  font-size: 35px;
  font-weight: 300;
  margin-left: 330px;
}

.f500 {
  font-weight: 500;
}

.gasloMision2 {
  font-size: 35px;
  font-weight: 300;
}
///////////////////////////////////РОзділ галерея

.gallery {
  margin-top: 165px;
  padding: 60px 20px;

  h2{
margin-bottom: 30px;
  }

  .galeryText {
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
  }
  .galText{
    margin-left: 0;
  }

  .gallery-scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 100%;
    gap: 16px;
    padding-bottom: 14px;
    scroll-behavior: smooth;

    .gallery-scroll img {
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 0.8s ease-out, transform 0.8s ease-out;
      will-change: opacity, transform;
    }
    
    .gallery-scroll img.visible {
      opacity: 1;
      transform: scale(1);
    }
    

    // Мінімалістичний горизонтальний скролбар
    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.15); // тонкий сірий
      border-radius: 3px;
      transition: background-color 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }

    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
    scrollbar-width: thin;

    img {
      height: 480px;
      border-radius: 16px;
      flex-shrink: 0;
      object-fit: cover;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease, transform 1s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

}


//////////////////////////////////Розділ Як допомогти

.dopomoga {
display: flex;
justify-content: space-between;
margin-top: 187px;
}

.yellow{
  color: $color-yellow;
}

.dopomoga1 {
  background-image: url('Img/dopomogaImg.jpg');
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  width: 1142px;
  height: 661px;
  color: $color-white;
}

.textdopomoga1 {
  margin-top: 80px;
  margin-left: 37px;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
}

.textsDopomoga4{
  margin: 80px 0 80px 37px;
}

.textdopomoga2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 76px;

  
  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 25px;
    vertical-align: middle;
  }

}
.icon-1::before {
  background-image: url('icons/dopomoga1.svg');
}
.icon-2::before {
  background-image: url('icons/dopomoga2.svg');
}
.icon-3::before {
  background-image: url('icons/dopomoga3.svg');
}
.icon-4::before {
  background-image: url('icons/dopomoga4.svg');
}


/////////////////////////////////Роздыл ДОЛУЧИСЬ

.black {
  margin-top: 200px;
  width: 100%;
  height: 1000px;
  background-color: black;
  overflow: hidden;
}

.logoBlack {
  display: block;
  margin: 60px auto 0 auto;
  max-width: 100%;
  height: auto;
}

.textBlack {
  margin: 213px auto;
  display: flex;
}

.btnBlack {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  padding: 16px 14px;
  border-radius: 20px;
  border: 1px solid $color-white;
  background: #000;
  color: $color-white;
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 4.5px; // или больше — например, 2px для выразительности

  &:hover{
    background: white;
    color: black;
    transition: 0.3s ease;

  }
}

.btnBlack a svg {
  width: 32px;
  height: 32px;
  color: #fff; /* або чорний, або #FFD700 для акценту */
  transition: transform 0.3s ease;
}

.btnBlack a:hover svg {
  transform: translateY(5px);
}



//////////////////////////////Розділ Актуальні збори

.Zbir {
  display: flex;
  gap: 76px;
  position: relative;
  margin-top: 150px;
  margin-right: 30px;
}

.BigText {
  font-size: 72px;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  margin-left: 80px;

}

.blocksZbirVertical {
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-left: 80px;
  position: relative;
  height: 1100px; // высота, в пределах которой могут вырасти блоки
}

.blockZbir {
  margin-top: 30px;
  position: relative;
  width: 625px;
  height: 250px;
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  border-radius: 26px; 
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset,
              -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset,
              -4px 4px 8px 0px rgba(178, 178, 178, 0.20),
              4px -4px 8px 0px rgba(178, 178, 178, 0.20),
              -4px -4px 8px 0px rgba(255, 255, 255, 0.90),
              4px 4px 10px 0px rgba(178, 178, 178, 0.90);   
transition: 0.7s ease;
transform-origin: bottom center; // важливо: зміщення буде "вгору"
}

.blockZbir:hover{
  height: 400px;
  transition: 0.7s ease;
}

.imgOne{
  background-image: url('Img/zbirM1.png');
}
.imgTwo{
  background-image: url('Img/zbirM2.png');
  margin-top: 36px;
}
.imgThree{
  background-image: url('Img/zbirM3.png');
  margin-top: 36px;
}


.textZbir {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-size: 30px;
  font-weight: 400;
  width: 493px;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.priseZbir {
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;

  font-size: 26px;
  font-weight: 300;
  width: 293px;
  margin: -37px auto;
}

.f600{
  font-weight: 600;
}

.zbir {
  position: absolute;
  bottom: 26px;
  right: 60px;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  line-height: 21.792px; /* 103.772% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  

  &::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
    background-image: url('icons/arrow.svg');
    transition: 0.3s ease;
  }
  &:hover{
    transition: 0.3s ease;
    color: $color-yellow;
  }
}

.blockZbir1 {
  color: $color-white; 
  background-image: url('Img/zbirImg.png');
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  width: 578px;
  height: 867px;
  margin-top: 174px;
  border-radius: 20px;
  /* Супер тень */
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.20), 4px -4px 8px 0px rgba(178, 178, 178, 0.20), -4px -4px 8px 0px rgba(255, 255, 255, 0.90), 4px 4px 10px 0px rgba(178, 178, 178, 0.90);
}

h4{
  font-size: 47.001px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.textZbir1 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 111px;
  width: 375px;
  margin-top: 77px;
}
.textZbir2 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 111px;
  width: 375px;
  margin-top: 23px;
}

.priseZbir1 {
  font-size: 27px;
  font-weight: 600;
  line-height: 46px; 
  margin-left: 111px;
  margin-top: 56px;
}
.fs600{
  font-size: 38px;
}

.btnZbir1 {
  margin: 53px auto;
  background-color: $color-white;
  color: black;
  width: 60%;
  height: 77px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px; /* 75% */
  display: flex;
  text-align: center;
  transition: transform 0.3s ease;

}
.btnZbir1:hover {
  transform: scale(1.1); /* увеличивает на 10% */
  transition: transform 0.3s ease;
}

.aboutZbir {
  font-size: 12px;
  font-weight: 400;
  width: 229px;
  display: flex;
  margin: 31px auto;
  text-align: center;
}


//////////////////////////////Розділ Заклик "Поки ЗСУ тримають оборону"

.zaklik {
  margin-top: 360px;
  position: relative;
}

.kavichki{
  position: relative;
  height: 100%;
}

.paragrapg1 {
  font-size: 238px;
font-style: italic;
font-weight: 500;
color: $color-blue;
position: absolute;
top: -80%;
left: 50px;
animation: pulseScale 7s ease-in-out infinite;
display: inline-block; // важно для scale
transform-origin: center;
}
@keyframes pulseScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2); // масштаб увеличения
  }
}

.textZaklik {
  font-size: 61px;
  font-style: italic;
  font-weight: 300;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.paragrapg2 {
  font-size: 204px;
  font-style: italic;
  font-weight: 500;
  color: $color-yellow;
  position: absolute;
  top: 90%;
  right: 100px;
}

////////////////////////////Розділ Контакти

.contacts {
  margin-top: 358px;
}

.contactsCatd {
  position: relative;
  width: auto;
  height: 743px;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.50) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.20), 4px -4px 8px 0px rgba(178, 178, 178, 0.20), -4px -4px 8px 0px rgba(255, 255, 255, 0.90), 4px 4px 10px 0px rgba(178, 178, 178, 0.90);
  border-radius: 20px;
  margin-left: 300px;
  z-index: 1;
}

.imgHand{
  position: absolute;
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  width: 100%;
  z-index: -1;

}

.textsContact{
  width: 433px;
  margin-left: 80px;
  padding-top: 70px;
  text-align: center;
  position: absolute;
  z-index: 9;
  
  
  .nameCard {
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
  }
  
  .gasloCard {
    text-align: center;
    font-size: 51px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .links {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      position: relative;
  z-index: 999;
 
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  

}

.link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  position: relative; // 👈 ОБЯЗАТЕЛЬНО добавь
  z-index: 10;         // 👈 и можешь протестить с ним
}

.linkF {
  background-image: url('icons/facebook.svg');
}

.linkF:hover {
  background-image: url('icons/facebookColor.svg');
}

// Mail
.linkM {
  background-image: url('icons/mail.svg');

  &:hover {
    background-image: url('icons/mailColor.svg');
  }
}

// Phone
.linkP {
  background-image: url('icons/phone.svg');

  &:hover {
    background-image: url('icons/phoneColor.svg');
  }
}


////////////////////////////Розділ Футер

footer{
 margin-top: 350px;
 background-color: rgba(206, 219, 225, 0.70);
 height: auto;
 position: relative;
}

.linksFooter {
  display: flex;
  gap: 160px;

}

.linkTel {
  margin-left: 80px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkMail {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkFacebook {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.linkFooter:hover{
  font-weight: 400;
}

.btnArrow {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  width: 92px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 33px;
  transition: 0.3s ease;
  border-radius: 50%;
  transition: 0.7s ease;


  .imgArrowUp{
    width: 25px;
    height: 39px;
  }
}
.btnArrow:hover{
  background-color: $color-yellow;
  transition: 0.7s ease;
}


.textFooter {
  font-size: 12px;
  font-weight: 300;
  // line-height: 20px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  display: block;
  // flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 35px 10% 0;
  padding-bottom: 20px;
}



.AleksVits {
  // text-decoration: underline;
  font-size: 12px;
  color: #000;


}


///////////////////////////////////Розділ Оплати

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.836);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  

  &.show {
    display: flex;
  }
}

.modal-content {
  background: black;
  border-radius: 16px;
  width: 90%;
  max-width: 1200px;
  position: relative;
  padding: 40px;
  animation: fadeIn 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-height: 90vh; // або 100vh, але з відступами
  overflow-y: auto; // дозволяє прокрутку, якщо контент не влазить
  padding: 20px;
}

.close-modal {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 42px;
  font-weight: bold;
  color: $color-black; // яскраво-білий для контрасту
  background-color: rgba(0, 0, 0, 0.5); // напівпрозорий фон
  border: 2px solid #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  z-index: 10000;
  transition: 0.3s ease;
}

.close-modal:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.modal-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.tab-btn{
  display: none;
}

.modal-left{
  flex: 1;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 10;
  position: relative;
}
.modal-right {
  flex: 1;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 10;
}

.logoPay{
  position: absolute;
  top: 22px;
  right: 22px;
  display: none;

}

.modal-left {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 50px;
    margin-top: 67px;
    font-size: 32px;
    font-weight: 300;
  }

  .input-row {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      flex: 1;
      padding: 15px 15px;
      border-radius: 15px;
      border: none;
      font-size: 22px;
      color: $color-black;
    }

    span {
      font-size: 22px;
    }
  }

  .quick-buttons {
    margin: 20px 0;
    display: flex;
    gap: 15px;

    button {
      background: #555;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
      font-size: 18px;
      transition: 0.2s;

      &:hover {
        background: #777;
      }
    }
  }

  .support-btn {
    margin-top: 70px;
    background: white;
    color: black;
    font-size: 22px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    border: 3px solid white;


    &:hover {
      border: 3px solid black;
    }

    .arrow {
      font-size: 24px;
      margin-left: 10px;
    }
  }

  .logoPayPhon{
    position: absolute;
    bottom: 0px;
    left: 00px;
    z-index: -1;
    height: 70%;
    background-repeat: repeat;
    background-position: center;
  }
}

.modal-right {
  background: $color-white;
  color: $color-black;
  position: relative;

  .logoPayPhon{
    position: absolute;
    top: 22px;
    right: 22px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 67px;
    font-size: 32px;
    font-weight: 300;
  }

  .sub {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
  }

  p{
    font-size: 18px;
    font-weight: 300;
    line-height: 31.668px; /* 181.25% */
  }

  .iban-copy {
    display: flex;
    margin: 20px 0;

    input {
      flex: 1;
      padding: 18px 12px;
      font-size: 18px;
      font-weight: 300;
      border: 1px solid #ccc;
      border-radius: 20px 0 0 20px;
    }

    button {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 0 10px 10px 0;
      background: #eee;
      cursor: pointer;

      &:hover {
        background: #ddd;
      }
    }
  }

  .purpose {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
  }

  .qr {
    width: 160px;
    height: auto;
    margin: 30px auto;
    display: flex;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(50px) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


///////////////////Бургер меню

.burger-btn {
  display: none;
  width: 30px;
  height: 25px;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  // z-index: 999;
  span {
    height: 3px;
    background: #333;
    border-radius: 2px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: auto;
  background: linear-gradient(to bottom right, #e0f0ff, #e0f5d8);
  transition: right 0.3s ease;
  padding: 60px 20px;
  z-index: 998;
  border-radius: 0 0 0 20px;

  ul {
    list-style: none;
    padding: 0;
    
    li {
      margin: 20px 0;
      a {
        font-size: 18px;
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid #000;
        font-weight: 300;
      }
    }
  }

  &.open {
    right: 0;
  }

  .close-btn {
    position: absolute;
    top: 0px;
    right: 20px;
    background: none;
    border: none;
    font-size: 52px;
    cursor: pointer;
  }
}
