@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-width: 1440px;
  background-color: #F8F9FA;
  margin: 0 auto;
  font-family: Roboto;
  color: #444;
}

header .logo1 {
  width: 136.789px;
  height: 113px;
  flex-shrink: 0;
  aspect-ratio: 136.79/113;
  position: absolute;
  top: 13px;
  left: 11px;
  z-index: 10;
}
header .nav {
  width: 579px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(93deg, #DDECF7 47.74%, #E9CC3F 205.21%);
  margin: 11px 48px 11px auto;
}
header .nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
header .nav li {
  position: relative;
  padding: 4px 8px;
  cursor: pointer;
}
header .nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444;
  transition: width 0.3s ease;
}
header .nav li:hover::after {
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #E9CC3F;
}

.LogoDiv {
  position: relative;
  height: 704px;
  background-image: url("Img/fonsLogo.jpg");
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
}
.LogoDiv .textLogo {
  color: #F8F9FA;
  padding: 150px 80px;
  width: auto;
}
.LogoDiv .textLogo .sloganLogo {
  font-size: 44px;
  font-style: italic;
  font-weight: 200;
  line-height: 72px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.945);
}
.LogoDiv .textLogo .h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 93px; /* 115.904% */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.945);
  width: auto;
}
.LogoDiv .textLogo .btn {
  display: flex;
  width: 349px;
  padding: 18px 18px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #2483C4;
  border-radius: 22px;
  font-size: 22px;
  margin-top: 68px;
  transition: transform 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
.LogoDiv .textLogo .btn:hover {
  transform: scale(1.1); /* увеличивает на 10% */
  transition: transform 0.3s ease;
}
.LogoDiv .apanotationTextLogo {
  color: #F8F9FA;
  position: absolute;
  bottom: 50px;
  right: 81px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 172%; /* 27.52px */
  text-align: right;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.945);
}

main {
  position: relative;
}

.about {
  margin-top: 170px;
}

.logoAbout {
  position: absolute;
  top: -135px;
  right: 0px;
  z-index: -1;
  width: auto;
}

.aboutProFond {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 50px;
  text-decoration: underline;
  text-decoration-color: #2483C4;
  text-decoration-thickness: 2px;
  z-index: 1;
}

.blocks {
  width: 952px;
  height: 432px;
  margin-top: 19px;
  margin-left: 409px;
  display: flex;
}

.blocksVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block1 {
  width: 296px;
  height: 200px;
  padding: 16px 32px;
  flex-shrink: 0;
  border-radius: 0px 20px 20px 20px;
  background: white;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
}

.iconsAbout {
  margin-top: 22px;
  width: 40px;
}

.werticalIcons {
  width: 31px;
}

.textAbout {
  align-self: stretch;
  font-size: 20px;
  font-weight: 300;
  line-height: 113.558%;
  margin-top: 15px;
}

.f400 {
  font-weight: 400;
}

.block2 {
  margin-top: 30px;
  width: 296px;
  height: 200px;
  padding: 16px 32px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: white;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
}

.blocksHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block3 {
  width: 297px;
  height: 385px;
  padding: 16px 32px;
  flex-shrink: 0;
  border-radius: 20px;
  background: white;
  margin-left: 30px;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
}

.block4 {
  width: 297px;
  height: 385px;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: white;
  margin-left: 30px;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
}

.statistic {
  width: 100%;
  height: auto;
  margin-top: 248px;
  background-color: #2483C4;
  color: #F8F9FA;
}

.statistOll {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.krilo {
  margin-top: 20px;
}

.statisth3 {
  margin-right: 30px;
  font-size: 33px;
  font-weight: 300;
}

.f500 {
  font-weight: 500;
}

.numbrs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  gap: 5%;
}

.number1 {
  flex-direction: column;
  justify-content: center;
}

.number {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.textNumber {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.mision {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.blockMision1 {
  width: 510px;
  height: 277px;
  display: flex;
  gap: 30px;
}

.text1Mision1 {
  width: 296px;
  font-size: 16px;
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.img1Mision {
  height: 100%;
}

.blockMision2 {
  margin-left: 30px;
  display: flex;
}

.text1Mision2 {
  width: 184px;
  margin-right: 30px;
  margin-top: 120px;
  font-size: 16px;
  font-weight: 300;
}

.img1Mision2 {
  width: 376px;
}

.gasloMision {
  position: absolute;
  top: 352px;
  left: 302px;
}

.gasloMision1 {
  font-size: 35px;
  font-weight: 300;
  margin-left: 330px;
}

.f500 {
  font-weight: 500;
}

.gasloMision2 {
  font-size: 35px;
  font-weight: 300;
}

.gallery {
  margin-top: 165px;
  padding: 60px 20px;
}
.gallery h2 {
  margin-bottom: 30px;
}
.gallery .galeryText {
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}
.gallery .galText {
  margin-left: 0;
}
.gallery .gallery-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 100%;
  gap: 16px;
  padding-bottom: 14px;
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
  scrollbar-width: thin;
}
.gallery .gallery-scroll .gallery-scroll img {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}
.gallery .gallery-scroll .gallery-scroll img.visible {
  opacity: 1;
  transform: scale(1);
}
.gallery .gallery-scroll::-webkit-scrollbar {
  height: 6px;
}
.gallery .gallery-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.gallery .gallery-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.gallery .gallery-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.gallery .gallery-scroll img {
  height: 480px;
  border-radius: 16px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.gallery .gallery-scroll img.visible {
  opacity: 1;
  transform: translateY(0);
}

.dopomoga {
  display: flex;
  justify-content: space-between;
  margin-top: 187px;
}

.yellow {
  color: #E9CC3F;
}

.dopomoga1 {
  background-image: url("Img/dopomogaImg.jpg");
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  width: 1142px;
  height: 661px;
  color: #F8F9FA;
}

.textdopomoga1 {
  margin-top: 80px;
  margin-left: 37px;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
}

.textsDopomoga4 {
  margin: 80px 0 80px 37px;
}

.textdopomoga2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 76px;
}
.textdopomoga2::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 25px;
  vertical-align: middle;
}

.icon-1::before {
  background-image: url("icons/dopomoga1.svg");
}

.icon-2::before {
  background-image: url("icons/dopomoga2.svg");
}

.icon-3::before {
  background-image: url("icons/dopomoga3.svg");
}

.icon-4::before {
  background-image: url("icons/dopomoga4.svg");
}

.black {
  margin-top: 200px;
  width: 100%;
  height: 1000px;
  background-color: black;
  overflow: hidden;
}

.logoBlack {
  display: block;
  margin: 60px auto 0 auto;
  max-width: 100%;
  height: auto;
}

.textBlack {
  margin: 213px auto;
  display: flex;
}

.btnBlack {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  padding: 16px 14px;
  border-radius: 20px;
  border: 1px solid #F8F9FA;
  background: #000;
  color: #F8F9FA;
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
.btnBlack:hover {
  background: white;
  color: black;
  transition: 0.3s ease;
}

.btnBlack a svg {
  width: 32px;
  height: 32px;
  color: #fff; /* або чорний, або #FFD700 для акценту */
  transition: transform 0.3s ease;
}

.btnBlack a:hover svg {
  transform: translateY(5px);
}

.Zbir {
  display: flex;
  gap: 76px;
  position: relative;
  margin-top: 150px;
  margin-right: 30px;
}

.BigText {
  font-size: 72px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  margin-left: 80px;
}

.blocksZbirVertical {
  color: #F8F9FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-left: 80px;
  position: relative;
  height: 1100px;
}

.blockZbir {
  margin-top: 30px;
  position: relative;
  width: 625px;
  height: 250px;
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  border-radius: 26px;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
  transition: 0.7s ease;
  transform-origin: bottom center;
}

.blockZbir:hover {
  height: 400px;
  transition: 0.7s ease;
}

.imgOne {
  background-image: url("Img/zbirM1.png");
}

.imgTwo {
  background-image: url("Img/zbirM2.png");
  margin-top: 36px;
}

.imgThree {
  background-image: url("Img/zbirM3.png");
  margin-top: 36px;
}

.textZbir {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-size: 30px;
  font-weight: 400;
  width: 493px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.priseZbir {
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  width: 293px;
  margin: -37px auto;
}

.f600 {
  font-weight: 600;
}

.zbir {
  position: absolute;
  bottom: 26px;
  right: 60px;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  line-height: 21.792px; /* 103.772% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}
.zbir::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url("icons/arrow.svg");
  transition: 0.3s ease;
}
.zbir:hover {
  transition: 0.3s ease;
  color: #E9CC3F;
}

.blockZbir1 {
  color: #F8F9FA;
  background-image: url("Img/zbirImg.png");
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  width: 578px;
  height: 867px;
  margin-top: 174px;
  border-radius: 20px;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
}

h4 {
  font-size: 47.001px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.textZbir1 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 111px;
  width: 375px;
  margin-top: 77px;
}

.textZbir2 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 111px;
  width: 375px;
  margin-top: 23px;
}

.priseZbir1 {
  font-size: 27px;
  font-weight: 600;
  line-height: 46px;
  margin-left: 111px;
  margin-top: 56px;
}

.fs600 {
  font-size: 38px;
}

.btnZbir1 {
  margin: 53px auto;
  background-color: #F8F9FA;
  color: black;
  width: 374px;
  height: 77px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 75% */
  display: flex;
  transition: transform 0.3s ease;
}

.btnZbir1:hover {
  transform: scale(1.1); /* увеличивает на 10% */
  transition: transform 0.3s ease;
}

.aboutZbir {
  font-size: 12px;
  font-weight: 400;
  width: 229px;
  display: flex;
  margin: 31px auto;
  text-align: center;
}

.zaklik {
  margin-top: 360px;
  position: relative;
}

.kavichki {
  position: relative;
  height: 100%;
}

.paragrapg1 {
  font-size: 238px;
  font-style: italic;
  font-weight: 500;
  color: #2483C4;
  position: absolute;
  top: -80%;
  left: 50px;
  animation: pulseScale 7s ease-in-out infinite;
  display: inline-block;
  transform-origin: center;
}

@keyframes pulseScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}
.textZaklik {
  font-size: 61px;
  font-style: italic;
  font-weight: 300;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.paragrapg2 {
  font-size: 204px;
  font-style: italic;
  font-weight: 500;
  color: #E9CC3F;
  position: absolute;
  top: 90%;
  right: 100px;
}

.contacts {
  margin-top: 358px;
}

.contactsCatd {
  position: relative;
  width: auto;
  height: 743px;
  /* Супер тень */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(178, 178, 178, 0.5) inset, -4px 4px 8px 0px rgba(178, 178, 178, 0.2), 4px -4px 8px 0px rgba(178, 178, 178, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px 4px 10px 0px rgba(178, 178, 178, 0.9);
  border-radius: 20px;
  margin-left: 300px;
  z-index: -1;
}

.imgHand {
  position: absolute;
  background-size: cover; /* подгонка изображения */
  background-position: center; /* центрирование */
  background-repeat: no-repeat; /* отключить повтор */
  width: 100%;
  z-index: -1;
}

.textsContact {
  width: 433px;
  margin-left: 80px;
  padding-top: 70px;
  text-align: center;
}
.textsContact .nameCard {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}
.textsContact .gasloCard {
  text-align: center;
  font-family: Roboto;
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.textsContact .links {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.textsContact .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  position: relative;
  z-index: 10;
}

.linkF {
  background-image: url("icons/facebook.svg");
}

.linkF:hover {
  background-image: url("icons/facebookColor.svg");
}

.linkM {
  background-image: url("icons/mail.svg");
}
.linkM:hover {
  background-image: url("icons/mailColor.svg");
}

.linkP {
  background-image: url("icons/phone.svg");
}
.linkP:hover {
  background-image: url("icons/phoneColor.svg");
}

footer {
  margin-top: 350px;
  background-color: rgba(206, 219, 225, 0.7);
  height: auto;
  position: relative;
}

.linksFooter {
  display: flex;
  gap: 160px;
}

.linkTel {
  margin-left: 80px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkMail {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkFacebook {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.linkFooter:hover {
  font-weight: 400;
}

.btnArrow {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  width: 92px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 33px;
  transition: 0.3s ease;
  border-radius: 50%;
  transition: 0.7s ease;
}
.btnArrow .imgArrowUp {
  width: 25px;
  height: 39px;
}

.btnArrow:hover {
  background-color: #E9CC3F;
  transition: 0.7s ease;
}

.textFooter {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  display: flex;
  justify-content: center;
  margin: 35px auto 0 auto;
}

.AleksVits {
  font-size: 14px;
  color: #000;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.836);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal.show {
  display: flex;
}

.modal-content {
  background: black;
  border-radius: 16px;
  width: 90%;
  max-width: 1200px;
  position: relative;
  padding: 40px;
  animation: fadeIn 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 20px;
  background: none;
  border: none;
  font-size: 70px;
  cursor: pointer;
  color: #444;
}
.close-modal:hover {
  color: #8b8b8b;
}

.modal-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.modal-left, .modal-right {
  flex: 1;
  padding: 30px;
  border-radius: 16px;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 10;
}

.modal-left {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
}
.modal-left h3 {
  margin-bottom: 50px;
  margin-top: 67px;
  font-size: 32px;
  font-weight: 300;
}
.modal-left .input-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal-left .input-row input {
  flex: 1;
  padding: 15px 15px;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  color: #444;
}
.modal-left .input-row span {
  font-size: 22px;
}
.modal-left .quick-buttons {
  margin: 20px 0;
  display: flex;
  gap: 15px;
}
.modal-left .quick-buttons button {
  background: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}
.modal-left .quick-buttons button:hover {
  background: #777;
}
.modal-left .support-btn {
  margin-top: 70px;
  background: white;
  color: black;
  font-size: 22px;
  padding: 12px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  border: 3px solid white;
}
.modal-left .support-btn:hover {
  border: 3px solid black;
}
.modal-left .support-btn .arrow {
  font-size: 24px;
  margin-left: 10px;
}
.modal-left .logoPayPhon {
  position: absolute;
  bottom: 90px;
  left: 40px;
  z-index: -1;
}

.modal-right {
  background: #F8F9FA;
  color: #444;
  position: relative;
}
.modal-right .logoPayPhon {
  position: absolute;
  top: 22px;
  right: 22px;
}
.modal-right h3 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 67px;
  font-size: 32px;
  font-weight: 300;
}
.modal-right .sub {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
}
.modal-right p {
  font-size: 18px;
  font-weight: 300;
  line-height: 31.668px; /* 181.25% */
}
.modal-right .iban-copy {
  display: flex;
  margin: 20px 0;
}
.modal-right .iban-copy input {
  flex: 1;
  padding: 18px 12px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
}
.modal-right .iban-copy button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background: #eee;
  cursor: pointer;
}
.modal-right .iban-copy button:hover {
  background: #ddd;
}
.modal-right .purpose {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.modal-right .qr {
  width: 160px;
  height: auto;
  margin: 30px auto;
  display: flex;
}

@keyframes fadeIn {
  0% {
    transform: translateY(50px) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.burger-btn {
  display: none;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-btn span {
  height: 3px;
  background: #333;
  border-radius: 2px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 35%;
  height: auto;
  background: linear-gradient(to bottom right, #e0f0ff, #e0f5d8);
  transition: right 0.3s ease;
  padding: 60px 20px;
  z-index: 998;
  border-radius: 0 0 0 20px;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
}
.mobile-menu ul li {
  margin: 20px 0;
}
.mobile-menu ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-weight: 300;
}
.mobile-menu.open {
  right: 0;
}
.mobile-menu .close-btn {
  position: absolute;
  top: 0px;
  right: 60px;
  background: none;
  border: none;
  font-size: 52px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */